/* colors */
:root{
  --primary: rgb(71, 172, 158); 
  --navBackground: rgb(201, 217, 242);
  --mediaSize: 880px;
}

/* elements ************** */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
}



/* all links no underline */
a{
  text-decoration: none;
  color: #070707;
}
li{
  text-align: left;
  list-style: none;
  margin: 0.5rem auto;
}

/* cancel the auto active styles */

.dropdown-item.active{
  background-color: #fff;
  color: #070707;
}
/* ********** */

/********************************* custom defined elements ******************************/

/* all page dynamic responsive container  */
.page-container{
 margin-top: 6rem ;
}

/* section title font sizes */
.section-title{
  font-size: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

@media screen and (max-width: 880px) {
  .section-title{
    font-size: 7vw;
  }
}

.btn:hover{
  background-color: rgb(131, 183, 168);
  color: #fff;
}

.btn{
  background-color: var(--primary);
  color: #fff;
  box-shadow: 2px black;
}

/******* components  *******/


/* ProductCard */
.product-card{
border: solid 1px;
width: fit-content;
height: fit-content;
text-align: center;
background-color: white;
opacity: 0.9;

}
.product-card:hover{
  opacity: 1;
}


.product-card img{
  max-height: 35vw;
object-fit: contain;
margin-bottom: 1rem;
}
@media screen and (max-width: 926px) {
  .product-card img{
    max-height: 40vw;
  }
}


@media screen and (min-width:1300px) {
  .product-card img{
    max-height: 25vw;

  }
}

@media screen and (max-width:659px) {
  .product-card img{
    max-height: 62vw;

  }
}




/* ProductGallery */

.product-gallery-comp{
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-sizing: border-box;
}

.arrow-btn{
  cursor: pointer;
  background-color: #fff;
  border: none;
 flex-basis: auto;
}


@media screen and (max-width: 880px) {
  .product-gallery-comp{
    
  }
}

/********** store ****************/

/* Store page(grid) */

#store-page{
  margin: 3rem ;
  text-align: center;
  font-size: larger;
}


.store-page-grid{
display: grid;
height: fit-content;
max-width: 90vw;
gap: 2rem;
margin: 3rem auto;
grid-template-columns: minmax(140px, 15vw) repeat(3, auto);
grid-template-rows: 1fr ;
grid-auto-rows: auto;
}



.store-product{
  display: flex;
  width: 100%;
  justify-content: center;
}


/* products and grid media  */
.store-product .product-card img{
  max-height: 27vw;
}
@media screen and (max-width:1100px) {
  .store-product .product-card img{
    max-height: 35vw;
  }
  .store-page-grid{
    grid-template-columns:minmax(140px, 15vw) repeat(2, auto) ;
  }
}


@media screen and (min-width:1300px) {
  .store-product .product-card img{
    max-height: 25vw;

  }
}



@media screen and (max-width:600px) {
  .store-product .product-card img{
    max-height: 30vw;

  }
}


menu{
  margin-top: 0;
}


.sort-bar{
  grid-area: 1/1/-5/1;
  padding: 0;
}

.sort-bar h4{
  text-align: left;
  margin-left: 1rem;
}

.sort-bar > li{
  
  list-style: none;
  margin: 1.5rem 1rem;
  display: flex;
  justify-content: left;
  gap: 1rem;
  

}
li > button{
 color: rgb(54, 51, 46);
 margin-left: auto;
border: none;
background-color: #fff;

}


.sort-bar ul{
  padding-left: 0;
  margin-left: 1rem;
  font-size: smaller;
  
}

li > input[type="checkbox"]{
  margin-right: 0.7rem;
}






/* endd ***********/


/******************************************* navbar *************************************************************/


header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgb(201, 217, 242);
}



.navbar-brand{
  font-size: 2.5rem;
  position: relative;
  bottom: 0.2rem;
}

.shown-navs{
  padding: auto 0.2rem;
  margin: auto 1rem;
  }




/* search bar ************/
.search{
  margin-right: 1rem;
}
/** end ** */


/* Media querys navbar section ************ */
@media only screen and (max-width: 991px){
  .search{
   position: absolute;
   left: 40%;
  }
}

@media only screen and (max-width: 630px){
  .search{
   position: absolute;
   left: 40%;
   width: 40%;
   
  }
  .page-container{
    margin-top: 7rem;
  }
  html{
    font-size: 0.9rem;
  }
}
/** end ** */




/* end of navbar *************************************************************/


/* breadcrumbs */

.crumb{
  text-decoration: underline;
  color: #070707;
  margin: 0.4rem;
}

.size-error{
  color: red;
  background-color: #f3dbdb;

  width: 10rem;
}
/** end ** */


/* *+*************************************** Home Page *************************************/
 
/* title section */


/* content */
.title-section-grid{
  display: grid;
  height: 80vh;
padding: 1rem;
  margin: 1rem 1rem;
  grid-template-columns: 1.5fr 1fr  ;
  grid-template-rows:  2.2fr 1fr ;
}

.title-content{
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
grid-area:1/ 2/ 1 / 2 ;

}

.title-content h1{
  width: 80%;
  margin: auto; 
  
}

.title-content h3{
margin: 1rem auto 2rem;

width: 70%;
}


.shop-now-btn{
grid-area: 1/ 2/ 1 / 2 ;
height: 100%;
width: 100%;
display: flex;
align-items: flex-end;
justify-content: center;
margin-bottom: 5rem;
}

.shop-now-btn button{
  padding: 0.7rem 3rem;
  font-size: x-large;
  background-color: var(--primary);
}




.title-img{
  background-image: url("/Users/roy/Development/Projects/Aguamar/react-front-end/src/images/title-img.png");
  background-repeat: no-repeat;
  background-position: center;
   background-size: contain;
  grid-row: span 2;
  order: -1;
}


/* media query  */

@media screen and (max-width:920px) {
  .title-section-grid{
    height: fit-content;
    grid-template-columns: auto ;
    grid-template-rows: 1fr 2fr 1fr;
    
    
  }
  .title-content{
    order: -1;
    grid-area: 1/1/1/1;
  }
  .title-img{
    order: 0;
    grid-area: 2/1/2/1;
    background-size: contain;
  }
  .shop-now-btn{
    order: 1;
    grid-area: 3/1/3/1;
    align-items: center;
  }

  
  
}

/* featured swimsuits section(grid) */




/* men/women store section (grid)*/
#men-women-section{
  margin: 6rem auto;
}



.men-women-section{
  margin: 3rem auto;
display: grid;
height:80vh;
gap: 0.5rem;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
}

.men-women-section > *{
display: flex;
justify-content: center;
align-items: center;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.men-women-section > .men{
background-image: url("./images/men-image.jpg");
}

.men-women-section > .women{
  background-image: url("./images/women-image.jpg");
}

.men-women-section .btn{
  width: 10rem;
  font-size: 1.5rem;
  background-color: rgba(236, 238, 238, 0.731);
  color: rgba(49, 106, 126, 0.881);

}

.men-women-section .btn:hover{
  background-color: rgba(55, 115, 114, 0.858);
  color: rgb(237, 238, 238);

}


/* media query  */

@media screen and (max-width: 926px){
  .men-women-section{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 160vh;
    background-size: contain;
    
  }
}






/** end OF HOME PAGE /** end ** *//** end ** *//** end ** *//** end ** *//** end ** /** end ** */

/************** Store layout  *******************************/

/* store-title-section (grid)*/
#store-title-section{
  background-color: #ececec;
  display: grid;
  height: 60vh;
  grid-template-columns: 1.2fr minmax(700px ,1.8fr);
  grid-row: auto;
}

.store-title-content{
  font-size: 6rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.store-title-img{
  background-image: url("/Users/roy/Development/Projects/Aguamar/react-front-end/src/images/shop-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
   background-size: cover;
}

@media screen and (max-width:926px) {
  #store-title-section{
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr;
  }
}



/* product page */

.product-page{
  margin: 3rem auto;
}

/* product detail +  image grid */

.product-details{
  
  margin: auto 20vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}



.product-details-image img{
  max-height: 40vw;

}

.product-details-form{
  font-size: 1.5vw;
  margin: 2vw 2vw; 
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}


.product-details-form input{
  width: 4vw;
  text-align: center;
}

.buy-now{
font-size: 1.5vw;
}

.cart-icon{
  color: #070707;
}

@media screen and (max-width: 700px) {
  .product-details-image img{
    max-height: 50vw;
  }
  .product-details-form{
    font-size: 2vw;
  }
  .product-details{
   margin: auto 10vw;
  }
  .buy-now{
    font-size: 2.5vw;
    }
    .product-details-form input{
      width: 7vw;
      
    }
}
/* ***********  *********** *********** *********** Footer *********** *********** *********** *********** ************/


footer{
  margin-top: 3rem;
  padding: 1rem;
  background-color: var(--navBackground);
  
}

.col{
  margin-bottom: 2rem;
}


/* policies */
.policies{
  text-align: center;
}

.policies a {
  display: block;
  margin: 1rem auto;
}


/* form */
.contact-form{
  text-align: center;
  align-items: center;
  border-left: solid 1px black ;
  border-right: solid 1px black;
}

.contact-form input, .input{
  margin-top: 1rem;
}

.contact-form button{
  display: block;
  margin: auto;
  
}


.social-media{
 
  text-align: center;
}

.social-icon{
  margin: auto 0.4rem;
  margin-top: 2rem;
  font-size: large;
}


/* copyrights */

@media (max-width:991px){
 .contact-form{
  border-left: none;
  border-right: none;
  margin: 2rem auto;
 }
}





/* store-layout */



.featured{
  position: relative;
}

.featured img {
 width: 100%;
}


.featured h2{
  font-size: 2vw;
  background-color: antiquewhite;
  padding: 0.5%;
  position: absolute;
  top: 15%
}


.policies a:hover{
text-decoration: underline;
}

p::selection,a::selection{
background-color: var(--navBackground);
color: #fff;
} 